.Rproj.user\*****
.Rhistory
.RData
.Ruserdata
*.json
assignRegions.html
.Rproj.user**
output/*
shapefiles/
WSDB_Regions.html
.Rproj**
.Rproj.user
*.pper
input/*
input/TestData.xlsx
input/TestData1.xlsx
