.Rproj.user\*****
.Rhistory
.RData
.Ruserdata
*.json
**.html
.Rproj.user**
output/*
shapefiles/
WSDB_Regions.html
.Rproj**
.Rproj.user
*.pper
input/**
input/TestData.xlsx
input/TestData1.xlsx
prepWSDB.html
