.Rproj.user*
.Rhistory
.RData
.Ruserdata
.Rproj.user/0413310F/sources/per/t/340E7C0A
.Rproj.user/0413310F/sources/per/t/340E7C0A-contents
.Rproj.user/0413310F/sources/per/t/3874A228
.Rproj.user/0413310F/sources/per/t/3874A228-contents
.Rproj.user/0413310F/sources/per/t/DBCD466E
.Rproj.user/0413310F/sources/per/t/DBCD466E-contents
.Rproj.user/0413310F/sources/prop/44738B65
.Rproj.user/0413310F/sources/prop/4877A728
.Rproj.user/0413310F/sources/prop/INDEX
*.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/0413310F/sources/per/t/DBCD466E-contents
